<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div class="topbar">
        <!-- Profile link & Logout button-->
        <p>Test</p>
    </div>
    <div class="sidenav">
        <!--Lists all the available chats includes the search bar and the button to take you to your individual messages-->
        <p>Home</p>
    </div> 
    <main class="main">
        <header>
            <p>Welcome to the chatroom</p>
        </header>
        <div class="chatbox">
            <!-- space to populate individual message cards-->
            <div class="message you">
                <p>
                    I'm a message card!
                </p>
            </div>
            <div class="triangle"></div>
          
            <div class="message you">
                <p>
                    I'm a message card!
                </p>
            </div>
            <div class="triangle"></div>
     
            <div class="message me">
                <p>
                    I'm a message card!
                </p>
            </div>
            <div class="triangle"></div>
   
            <div class="message you">
                <p>
                    I'm a message card!
                </p>
            </div>
            <div class="triangle"></div>
      
            <div class="message me">
                <p>
                    I'm a message card!
                </p>
            </div>
            <div class="triangle"></div>
         

        </div>
        <div class="usermessage">
            <!-- space to write your message-->
            
        </div>

    </main>
    
</body>
</html>